[submodule "Bats/test/bats"]
	path = Bats/test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "Bats/test/test_helper/bats-assert"]
	path = Bats/test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "Bats/test/test_helper/bats-support"]
	path = Bats/test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "Bats/test/test_helper/bats-files"]
	path = Bats/test/test_helper/bats-files
	url = https://github.com/bats-core/bats-file.git
